* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#scrollBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: linear-gradient(90deg, #000000, #e9c600);
  transition: width 0.1s ease-out;
  z-index: 9999;
  border-radius: 0 5px 5px 0;
}

.grid-jogadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
  padding: 60px;
}


.jogadores{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.jogadores img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulosElenco{

  text-align: center;
  padding: 50px;
}

.NomeJogador{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  padding: 5px;
}

.jogadores img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease; 
}

.jogadores {
  width: 160px;
  text-align: center;
  transition: transform 0.3s ease;
}

.jogadores:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.jogadores img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.NomeJogador {
  margin-top: 8px;
  font-weight: bold;
}

.intro-elenco {
  background: black;
  color: white;

  text-align: center;
  padding: 40px 20px 50px;
  border-bottom: 3px solid #e9c600 ;
  border-top: 3px solid #e9c600 ;
  border-left: 0px;
  border-right: 0px;
}

.intro-elenco h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.intro-elenco p {
  font-size: 1.1rem;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}


.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex; 
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: 80px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.modal-content img {
  width: 180px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal-content h2 {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.modal-content p {
  width: 100%;
  text-align: left;
  margin: 5px 0;
  line-height: 1.4;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 32px;
  cursor: pointer;
}


.fechar:hover {
  color: black;
}


