#scrollBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: linear-gradient(90deg, #000000, #e9c600);
  transition: width 0.1s ease-out;
  z-index: 9999;
  border-radius: 0 5px 5px 0;
}
.modal-jogo {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-jogo.active {
  display: flex;
}

.modal-jogo-content {
  background: #fff;
  width: 80%;
  max-width: 900px;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  font-family: Arial, sans-serif;
  color: #111;
  font-family: "Montserrat", sans-serif;  
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  max-height: 90vh;
  overflow-y: auto;
}

.fechar-jogo {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 28px;
  cursor: pointer;
  color: gray;
  transition: 0.2s;
}

.fechar-jogo:hover {
  color: #000;
}

.detalhes-jogo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.coluna {
  flex: 1;
  min-width: 250px;
}

.coluna h3 {
  border-bottom: 2px solid #e9c600;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

.info-extra {
  margin-top: 30px;
}

.info-extra h3 {
  margin-top: 20px;
  font-size: 1.1rem;
  border-top: 1px solid black;
  padding-bottom: 5px;
}

.btn-detalhes {
  margin-top: 10px;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-detalhes:hover {
  background: #222;
}


.icone-cartao, .icone-seta {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

.icone-seta.sai {
  filter: brightness(0.8) saturate(1.2);
}

.icone-seta.entra {
  filter: brightness(1.2) saturate(1.5);
}

